* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  color: #1E2430;
  font-family: "Inter-Regular", sans-serif;
  scroll-behavior: smooth;
}

main {
  margin-top: 107px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  color: #02D8E9;
  font-weight: normal;
  font-family: "Anton", sans-serif;
}
.h1:not(:last-child),
.h2:not(:last-child),
.h3:not(:last-child),
.h4:not(:last-child),
.h5:not(:last-child),
.h6:not(:last-child) {
  margin-bottom: 15px;
}

.h1 {
  font-size: 40px;
}
@media screen and (min-width: 576px) {
  .h1 {
    font-size: 55px;
  }
}
@media screen and (min-width: 768px) {
  .h1 {
    font-size: 70px;
  }
}
@media screen and (min-width: 992px) {
  .h1 {
    font-size: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .h1 {
    font-size: 110px;
  }
}
@media screen and (min-width: 1400px) {
  .h1 {
    font-size: 125px;
  }
}
@media screen and (min-width: 1600px) {
  .h1 {
    font-size: 140px;
  }
}

.h2 {
  font-size: 36px;
}
@media screen and (min-width: 576px) {
  .h2 {
    font-size: 48px;
  }
}
@media screen and (min-width: 768px) {
  .h2 {
    font-size: 62px;
  }
}
@media screen and (min-width: 992px) {
  .h2 {
    font-size: 78px;
  }
}
@media screen and (min-width: 1200px) {
  .h2 {
    font-size: 95px;
  }
}
@media screen and (min-width: 1400px) {
  .h2 {
    font-size: 108px;
  }
}
@media screen and (min-width: 1600px) {
  .h2 {
    font-size: 120px;
  }
}

.h3 {
  font-size: 28px;
}
@media screen and (min-width: 576px) {
  .h3 {
    font-size: 36px;
  }
}
@media screen and (min-width: 768px) {
  .h3 {
    font-size: 48px;
  }
}
@media screen and (min-width: 992px) {
  .h3 {
    font-size: 62px;
  }
}
@media screen and (min-width: 1200px) {
  .h3 {
    font-size: 76px;
  }
}
@media screen and (min-width: 1400px) {
  .h3 {
    font-size: 86px;
  }
}
@media screen and (min-width: 1600px) {
  .h3 {
    font-size: 100px;
  }
}

.h4 {
  font-size: 20px;
}
@media screen and (min-width: 576px) {
  .h4 {
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) {
  .h4 {
    font-size: 28px;
  }
}
@media screen and (min-width: 992px) {
  .h4 {
    font-size: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .h4 {
    font-size: 36px;
  }
}
@media screen and (min-width: 1400px) {
  .h4 {
    font-size: 38px;
  }
}
@media screen and (min-width: 1600px) {
  .h4 {
    font-size: 40px;
  }
}

.h5 {
  font-size: 18px;
}
@media screen and (min-width: 576px) {
  .h5 {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .h5 {
    font-size: 22px;
  }
}
@media screen and (min-width: 992px) {
  .h5 {
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .h5 {
    font-size: 28px;
  }
}
@media screen and (min-width: 1400px) {
  .h5 {
    font-size: 30px;
  }
}
@media screen and (min-width: 1600px) {
  .h5 {
    font-size: 32px;
  }
}

.h6 {
  font-size: 16px;
}
@media screen and (min-width: 576px) {
  .h6 {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .h6 {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .h6 {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .h6 {
    font-size: 24px;
  }
}
@media screen and (min-width: 1600px) {
  .h6 {
    font-size: 26px;
  }
}

p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
  color: #1E2430;
  text-align: center;
}
@media screen and (min-width: 992px) {
  p {
    text-align: left;
    font-size: 18px;
  }
}
@media screen and (min-width: 1600px) {
  p {
    font-size: 20px;
  }
}
p:last-of-type {
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  line-height: 1.2;
  color: inherit;
  font-family: inherit;
  font-size: 18px;
}
@media screen and (min-width: 1200px) {
  a {
    font-size: 20px;
  }
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: none;
  background: unset;
}

span {
  display: inline-block;
}

.lowercase {
  text-transform: lowercase;
}

.container {
  max-width: 95%;
  padding: 0 12px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1150px;
  }
}
@media screen and (min-width: 1300px) {
  .container {
    max-width: 1250px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1350px;
  }
}
@media screen and (min-width: 1500px) {
  .container {
    max-width: 1450px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

.section-heading {
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 992px) {
  .section-heading {
    margin-bottom: 50px;
  }
}
.section-heading .h3 {
  text-transform: uppercase;
}

.button-box {
  padding-top: 15px;
}
@media screen and (min-width: 992px) {
  .button-box {
    padding-top: 25px;
  }
}

.btn-default {
  position: relative;
  overflow: hidden;
  font-size: 20px;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #7F00FF;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Anton", sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 14px 35px rgba(127, 0, 255, 0.14);
}
@media screen and (min-width: 992px) {
  .btn-default {
    font-size: 22px;
    padding: 20px 25px;
  }
}
.btn-default:hover {
  color: #7F00FF;
}
.btn-default .hover-bg {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 0;
  background: #ffffff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.btn-default span {
  position: relative;
  z-index: 1;
}
.btn-default img {
  max-width: 30px;
  margin-right: 10px;
}
.btn-default.white {
  background-color: #ffffff;
  color: #7F00FF;
  border: 1px solid rgba(127, 0, 255, 0.14);
}
.btn-default.white:hover {
  color: #ffffff;
}
.btn-default.white .hover-bg {
  background: #1E2430;
}

section {
  overflow: hidden;
  position: relative;
  padding: 40px 0;
}
@media screen and (min-width: 768px) {
  section {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  section {
    padding: 80px 0;
  }
}

.light-black-bg {
  background-color: #F3F6FA;
}

.mobile {
  display: block;
}
@media screen and (min-width: 992px) {
  .mobile {
    display: none;
  }
}

.desktop {
  display: none;
}
@media screen and (min-width: 992px) {
  .desktop {
    display: block;
  }
}

.hamburger {
  cursor: pointer;
  border-radius: 50px;
  padding: 7px;
}
.hamburger .line {
  width: 27px;
  height: 3px;
  border-radius: 7px;
  background-color: #7F00FF;
  display: block;
  margin: 6px auto;
  transition: all 0.3s ease-in-out;
}
.hamburger .line:nth-child(2) {
  width: 35px;
}
.hamburger.is-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg);
  position: relative;
  z-index: 9999;
  background-color: transparent;
}
.hamburger.is-active .line {
  background-color: #ffffff;
}
.hamburger.is-active .line:nth-child(2) {
  width: 0;
}
.hamburger.is-active .line:nth-child(1), .hamburger.is-active .line:nth-child(3) {
  transition-delay: 0.3s;
}
.hamburger.is-active .line:nth-child(1) {
  transform: translateY(9px);
}
.hamburger.is-active .line:nth-child(3) {
  transform: translateY(-9px) rotate(90deg);
}
@media screen and (min-width: 992px) {
  .hamburger {
    display: none;
  }
}

::-webkit-scrollbar {
  background-color: #F3F6FA;
  width: 8px;
  height: 8px;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 50px;
  background: #7F00FF;
}

::-moz-selection {
  background-color: #7F00FF;
  color: #ffffff;
}

::selection {
  background-color: #7F00FF;
  color: #ffffff;
}

.inner-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 100px 0 60px;
  height: 70dvh;
}
@media screen and (min-width: 992px) {
  .inner-banner {
    padding: 150px 0 100px;
  }
}
.inner-banner::after {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.45;
  left: 0;
  top: 0;
  content: "";
  position: absolute;
}
.inner-banner.about-us::after {
  display: none;
}
.inner-banner.portfolio::after {
  display: none;
}
.inner-banner .inner-banner-box {
  position: relative;
  z-index: 9;
}
.inner-banner .inner-banner-box h1 {
  text-align: center;
}

.slider-box {
  background-color: #F3F6FA;
  border: 1px solid #D7E0EA;
  border-radius: 60px 0 60px 0;
  padding: 40px 20px;
  margin-top: 30px;
}
@media screen and (min-width: 992px) {
  .slider-box {
    margin-top: 50px;
  }
}
.slider-box .title p {
  font-size: 20px;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
}
@media screen and (min-width: 1200px) {
  .slider-box .title p {
    font-size: 30px;
  }
}
@media screen and (min-width: 1400px) {
  .slider-box .title p {
    font-size: 40px;
  }
}
.slider-box .creative-slider .item img {
  width: 150px;
  height: 30px;
  opacity: 0.5;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (min-width: 576px) {
  .slider-box .creative-slider .item img {
    width: 180px;
    height: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .slider-box .creative-slider .item img {
    width: 200px;
    height: 50px;
  }
}
@media screen and (min-width: 1400px) {
  .slider-box .creative-slider .item img {
    width: 274px;
    height: 60px;
  }
}

.whatsapp-icon {
  position: fixed;
  right: 20px;
  bottom: 35px;
  z-index: 9999999;
  animation: floatUpDown 2s ease-in-out infinite;
}
@media screen and (min-width: 768px) {
  .whatsapp-icon {
    bottom: 20px;
  }
}

.whatsapp-icon img {
  width: 50px;
  height: 50px;
}
@media screen and (min-width: 768px) {
  .whatsapp-icon img {
    width: 65px;
    height: 65px;
  }
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@font-face {
  font-family: "Inter-SemiBold";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter-ThinItalic";
  src: url("../fonts/Inter-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Inter-Bold";
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter-Light";
  src: url("../fonts/Inter-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter-Regular";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter-Thin";
  src: url("../fonts/Inter-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter-Medium";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Anton";
  src: url("../fonts/Anton-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
footer.footer {
  background-color: #FFFFFF;
  padding: 20px 0 20px;
  border-top: 1px solid #D7E0EA;
}
@media screen and (min-width: 992px) {
  footer.footer {
    padding: 20px 0 20px;
  }
}
footer.footer .top-box .h1 {
  font-size: clamp(30px, 16vw, 200px);
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}
footer.footer .top-box p,
footer.footer .top-box a {
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
}
footer.footer .top-box .logo-box {
  margin-bottom: 20px;
}
footer.footer .top-box .logo-box img {
  max-width: 180px;
}
@media screen and (min-width: 768px) {
  footer.footer .top-box .text-box {
    max-width: 80%;
  }
}
footer.footer .top-box .box {
  height: 100%;
}
footer.footer .top-box .box.box-4 p {
  margin-bottom: 20px;
}
footer.footer .top-box .box h5 {
  margin-bottom: 30px;
}
footer.footer .top-box .box ul {
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
  display: flex;
}
footer.footer .top-box .box ul li a {
  position: relative;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
footer.footer .top-box .box ul li a::after {
  width: 0;
  height: 2px;
  background-color: #7F00FF;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  border-radius: 10px;
  content: "";
  position: absolute;
}
footer.footer .top-box .box ul li a:hover, footer.footer .top-box .box ul li a.active {
  padding-left: 20px;
}
footer.footer .top-box .box ul li a:hover::after, footer.footer .top-box .box ul li a.active::after {
  width: 12px;
}
footer.footer .top-box .box ul li a.small {
  text-transform: unset;
}
footer.footer .bottom-part {
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
  display: flex;
}
@media screen and (min-width: 768px) {
  footer.footer .bottom-part {
    justify-content: space-between;
  }
}
footer.footer .bottom-part .text ul {
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
  display: flex;
}
@media screen and (min-width: 768px) {
  footer.footer .bottom-part .text ul {
    flex-direction: row !important;
  }
}
footer.footer .bottom-part .text ul li a {
  position: relative;
  font-size: 16px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
footer.footer .bottom-part .text ul li a::after {
  width: 0;
  height: 2px;
  background-color: #7F00FF;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  border-radius: 10px;
  content: "";
  position: absolute;
}
footer.footer .bottom-part .text ul li a:hover, footer.footer .bottom-part .text ul li a.active {
  padding-left: 20px;
}
footer.footer .bottom-part .text ul li a:hover::after, footer.footer .bottom-part .text ul li a.active::after {
  width: 12px;
}
footer.footer .bottom-part .text ul li a.small {
  text-transform: unset;
}
footer.footer .bottom-part .links-box ul {
  align-items: center;
  gap: 8px;
  display: flex;
}
footer.footer .bottom-part .links-box ul li a {
  border: 2px solid #7F00FF;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
@media screen and (min-width: 992px) {
  footer.footer .bottom-part .links-box ul li a {
    width: 45px;
    height: 45px;
  }
}
footer.footer .bottom-part .links-box ul li a:hover {
  transform: translateY(-3px);
  background-color: #7F00FF;
}
footer.footer .bottom-part .links-box ul li a:hover i {
  color: #ffffff;
}
footer.footer .bottom-part .links-box ul li a i {
  font-size: 20px;
  color: #7F00FF;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
@media screen and (min-width: 992px) {
  footer.footer .bottom-part .links-box ul li a i {
    font-size: 22px;
  }
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 15px 0;
  border-bottom: 1px solid transparent;
  box-shadow: 0 14px 35px rgba(30, 36, 48, 0.08);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.header.scrolled {
  background-color: rgba(255, 255, 255, 0.94);
  border-bottom: 1px solid #7F00FF;
}
@media screen and (min-width: 992px) {
  .header.scrolled .main-nav .nav-wrap nav ul li a {
    color: #1E2430;
  }
}
@media screen and (min-width: 992px) {
  .header.scrolled .main-nav .nav-wrap nav ul li a.active, .header.scrolled .main-nav .nav-wrap nav ul li a:hover {
    color: #7F00FF;
  }
}
.header .header-box {
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.header .header-box .logo-box {
  position: relative;
  min-height: 76px;
  width: 120px;
  /* example size */
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header-box .logo-box a {
  align-items: center;
  justify-content: flex-start;
  display: flex;
}
.header .header-box .logo-box a img {
  max-width: 120px;
}
.header .header-box .main-nav {
  display: none;
  position: relative;
}
@media screen and (min-width: 992px) {
  .header .header-box .main-nav {
    display: block;
  }
}
.header .header-box .main-nav.show {
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 999;
  left: 0;
  top: 0;
  overflow: hidden;
}
.header .header-box .main-nav .animated-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 300vw;
  height: 200vh;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background: transparent;
}
.header .header-box .main-nav .animated-box .box {
  width: 33.33%;
  height: 100%;
  opacity: 0;
  background-color: #7F00FF;
}
.header .header-box .main-nav .animated-box .first-box {
  transform: translateX(-100%);
}
.header .header-box .main-nav .animated-box .second-box {
  transform-origin: center;
  transform: scaleX(0);
}
.header .header-box .main-nav .animated-box .third-box {
  transform: translateX(100%);
}
.header .header-box .main-nav .animated-box.open .first-box {
  animation: slideLeft 0.8s ease forwards;
}
.header .header-box .main-nav .animated-box.open .second-box {
  animation: slideMid 0.8s ease forwards;
}
.header .header-box .main-nav .animated-box.open .third-box {
  animation: slideRight 0.8s ease forwards;
}
.header .header-box .main-nav .animated-box.close .first-box {
  animation: slideLeftReverse 0.6s ease forwards;
}
.header .header-box .main-nav .animated-box.close .second-box {
  animation: slideMidReverse 0.6s ease forwards;
}
.header .header-box .main-nav .animated-box.close .third-box {
  animation: slideRightReverse 0.6s ease forwards;
}
@media screen and (min-width: 992px) {
  .header .header-box .main-nav .animated-box {
    display: none;
  }
}
.header .header-box .main-nav .nav-wrap {
  position: relative;
  top: 50%;
  z-index: 999;
  transform: translate(0px, -50%);
  padding-left: 30px;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  display: flex;
}
@media screen and (min-width: 992px) {
  .header .header-box .main-nav .nav-wrap {
    position: static;
    transform: none;
    padding-left: 0;
    gap: 20px;
    align-items: flex-end;
    flex-direction: column;
  }
}
.header .header-box .main-nav .nav-wrap.show-items li {
  opacity: 1 !important;
  transform: translateX(0) !important;
}
.header .header-box .main-nav .nav-wrap.show-items .button-box .btn-default {
  opacity: 1;
  transform: translateX(0);
}
.header .header-box .main-nav .nav-wrap nav ul {
  gap: 35px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}
@media screen and (min-width: 992px) {
  .header .header-box .main-nav .nav-wrap nav ul {
    flex-direction: row;
    gap: 55px;
  }
}
.header .header-box .main-nav .nav-wrap nav ul li {
  opacity: 0;
  transform: translateX(20px);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.header .header-box .main-nav .nav-wrap nav ul li:nth-child(1) {
  transition-delay: 0.1s;
}
.header .header-box .main-nav .nav-wrap nav ul li:nth-child(2) {
  transition-delay: 0.2s;
}
.header .header-box .main-nav .nav-wrap nav ul li:nth-child(3) {
  transition-delay: 0.3s;
}
.header .header-box .main-nav .nav-wrap nav ul li:nth-child(4) {
  transition-delay: 0.4s;
}
.header .header-box .main-nav .nav-wrap nav ul li:nth-child(5) {
  transition-delay: 0.5s;
}
.header .header-box .main-nav .nav-wrap nav ul li:nth-child(6) {
  transition-delay: 0.6s;
}
.header .header-box .main-nav .nav-wrap nav ul li:nth-child(7) {
  transition-delay: 0.7s;
}
.header .header-box .main-nav .nav-wrap nav ul li:nth-child(8) {
  transition-delay: 0.8s;
}
.header .header-box .main-nav .nav-wrap nav ul li:nth-child(9) {
  transition-delay: 0.9s;
}
.header .header-box .main-nav .nav-wrap nav ul li:nth-child(10) {
  transition-delay: 1s;
}
.header .header-box .main-nav .nav-wrap nav ul li:nth-child(11) {
  transition-delay: 1.1s;
}
.header .header-box .main-nav .nav-wrap nav ul li:nth-child(12) {
  transition-delay: 1.2s;
}
.header .header-box .main-nav .nav-wrap nav ul li:nth-child(13) {
  transition-delay: 1.3s;
}
.header .header-box .main-nav .nav-wrap nav ul li:nth-child(14) {
  transition-delay: 1.4s;
}
.header .header-box .main-nav .nav-wrap nav ul li:nth-child(15) {
  transition-delay: 1.5s;
}
.header .header-box .main-nav .nav-wrap nav ul li:nth-child(16) {
  transition-delay: 1.6s;
}
.header .header-box .main-nav .nav-wrap nav ul li:nth-child(17) {
  transition-delay: 1.7s;
}
.header .header-box .main-nav .nav-wrap nav ul li:nth-child(18) {
  transition-delay: 1.8s;
}
.header .header-box .main-nav .nav-wrap nav ul li:nth-child(19) {
  transition-delay: 1.9s;
}
.header .header-box .main-nav .nav-wrap nav ul li:nth-child(20) {
  transition-delay: 2s;
}
@media screen and (min-width: 992px) {
  .header .header-box .main-nav .nav-wrap nav ul li {
    opacity: 1;
    transform: none;
  }
}
.header .header-box .main-nav .nav-wrap nav ul li a {
  font-family: "Inter-SemiBold", sans-serif;
  position: relative;
  font-size: 22px;
  color: #ffffff;
  text-transform: capitalize;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
@media screen and (min-width: 992px) {
  .header .header-box .main-nav .nav-wrap nav ul li a {
    color: #1E2430;
  }
}
.header .header-box .main-nav .nav-wrap nav ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translate(-50%, 0);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
@media screen and (min-width: 992px) {
  .header .header-box .main-nav .nav-wrap nav ul li a::after {
    background-color: #7F00FF;
  }
}
.header .header-box .main-nav .nav-wrap nav ul li a.active::after {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .header .header-box .main-nav .nav-wrap nav ul li a:hover::after {
    width: 100%;
  }
}
.header .header-box .main-nav .nav-wrap nav ul li a.active, .header .header-box .main-nav .nav-wrap nav ul li a:hover {
  color: #ffffff;
}
@media screen and (min-width: 992px) {
  .header .header-box .main-nav .nav-wrap nav ul li a.active, .header .header-box .main-nav .nav-wrap nav ul li a:hover {
    color: #7F00FF;
  }
}
.header .header-box .main-nav .nav-wrap .button-box {
  padding: 0;
}
.header .header-box .main-nav .nav-wrap .button-box .btn-default {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.3s ease-in-out 0.5s, transform 0.3s ease-in-out 0.5s, color 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s;
}
@media screen and (min-width: 992px) {
  .header .header-box .main-nav .nav-wrap .button-box .btn-default {
    opacity: 1;
    transform: none;
  }
}
.header .header-box .button-box {
  padding: 0;
}

#site-logo.homepage-logo {
  position: fixed;
  left: 50%;
  top: 50%;
  /* CHANGE SIZE HERE FREELY */
  max-width: 80vw;
  z-index: 1000;
  will-change: transform;
  transform-origin: center center;
  max-width: 350px;
}
@media screen and (min-width: 480px) {
  #site-logo.homepage-logo {
    max-width: 400px;
  }
}
@media screen and (min-width: 576px) {
  #site-logo.homepage-logo {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  #site-logo.homepage-logo {
    max-width: 550px;
  }
}
@media screen and (min-width: 992px) {
  #site-logo.homepage-logo {
    max-width: 900px;
  }
}
@media screen and (min-width: 1200px) {
  #site-logo.homepage-logo {
    max-width: 1100px;
  }
}
#site-logo.homepage-logo.is-docked {
  max-width: 122px;
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideMid {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideLeftReverse {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}
@keyframes slideMidReverse {
  0% {
    opacity: 1;
    transform: scaleX(1);
  }
  100% {
    opacity: 0;
    transform: scaleX(0);
  }
}
@keyframes slideRightReverse {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}/*# sourceMappingURL=index.css.map */