@use "./variable" as *;

@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-center {
  @include flexbox;

  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@mixin inline-flexbox {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}

@mixin inline-flex-center {
  @include inline-flexbox;

  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@mixin Font_Anton {
  font-family: $font_anton;
}

@mixin Font_Inter_Regular {
  font-family: $font_inter_regular;
}

@mixin Font_Inter_Medium {
  font-family: $font_inter_medium;
}

@mixin Font_Inter_SemiBold {
  font-family: $font_inter_semiBold;
}

@mixin Font_Inter_Bold {
  font-family: $font_inter_bold;
}

@mixin font-detail($font-size-value, $font-weight, $line-height-value) {
  font-size: $font-size-value;
  line-height: $line-height-value;
  font-weight: $font-weight;
}

@mixin transition {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@mixin min_321 {
  @media screen and (min-width: $min_321) {
    @content;
  }
}

@mixin min_376 {
  @media screen and (min-width: $min_376) {
    @content;
  }
}

@mixin min_480 {
  @media screen and (min-width: $min_480) {
    @content;
  }
}

@mixin min_576 {
  @media screen and (min-width: $min_576) {
    @content;
  }
}

@mixin min_768 {
  @media screen and (min-width: $min_768) {
    @content;
  }
}

@mixin min_992 {
  @media screen and (min-width: $min_992) {
    @content;
  }
}

@mixin min_1200 {
  @media screen and (min-width: $min_1200) {
    @content;
  }
}

@mixin min_1300 {
  @media screen and (min-width: $min_1300) {
    @content;
  }
}

@mixin min_1400 {
  @media screen and (min-width: $min_1400) {
    @content;
  }
}

@mixin min_1500 {
  @media screen and (min-width: $min_1500) {
    @content;
  }
}

@mixin min_1600 {
  @media screen and (min-width: $min_1600) {
    @content;
  }
}

@mixin section_padding {
  padding: 40px 0;

  @include min_768 {
    padding: 60px 0;
  }

  @include min_1200 {
    padding: 80px 0;
  }
}

@mixin before_after {
  content: "";
  position: absolute;
}
