$theme_color: #7F00FF;
$theme_light: #02D8E9;
$heading_color: #02D8E9;
$black: #1E2430;
$light_black: #F3F6FA;
$black_second: #FFFFFF;
$gray: #667085;
$border_gray: #D7E0EA;
$dark_gray: #E9EFF5;
$white: #ffffff;

// Font Family Variables
$font_anton: "Anton", sans-serif;
$font_inter_regular: "Inter-Regular", sans-serif;
$font_inter_medium: "Inter-Medium", sans-serif;
$font_inter_semiBold: "Inter-SemiBold", sans-serif;
$font_inter_bold: "Inter-Bold", sans-serif;

// font-weight variables
$font-100: 100;
$font-200: 200;
$font-300: 300;
$font-400: 400;
$font-500: 500;
$font-600: 600;
$font-700: 700;
$font-800: 800;
$font-900: 900;

// shodow variables
$shadow-md: 0 4px 12px rgba(0, 0, 0, 0.08);
$shadow-lg: 0 8px 30px rgba(0, 0, 0, 0.1);

//media queries variables
$min_321: 321px;
$min_376: 376px;
$min_480: 480px;
$min_576: 576px;
$min_768: 768px;
$min_992: 992px;
$min_1200: 1200px;
$min_1300: 1300px;
$min_1400: 1400px;
$min_1500: 1500px;
$min_1600: 1600px;
